@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.news-desktop {
    width: 100%;
    @include display (column, flex-start, nowrap);
    gap: 2rem;

    &__scan {
        width: 100%;
        background-color: $background2;
        @include display (row, space-around, nowrap);

        @include tablet {
            gap: 1rem;
            padding: 0.5rem 0;
        }


        &-share {
            @include display (column, center, nowrap);
            align-items: center;
            background-color: $background2;
            font-family: "Lovelo Black";
            text-decoration: none;
            border: none;
            cursor: pointer;
            width: 100%;
            min-height: 2rem;
            min-width: 2rem;
            font-size: 0.625rem;

            @include tablet {
                font-size: 1rem;
            }
        }

        &-qr {
            width: 35%;
            object-fit: contain;
            background-color: $background2;
            display: flex;
            align-items: center;
        }
    }

    &__social {
        max-width: 38rem;
        width: 100%;

        @include desktop {
            background-color: $background2;
            min-height: 35rem;
            display: flex;
            align-items: center;
            max-height: 20rem;
        }


        &-column {
            @include display (column, center, nowrap);
            background-color: $background3;
            width: 75%;
            padding-left: 0.40rem;

            @include tablet {
                padding-left: 0.75rem;
            }

            &-website {
                background-color: $background2;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30%;

                @include desktop {
                    width: 25%;
                }

                &--icon {
                    width: 100%;
                }
            }
        }

        &-container {
            max-width: 38rem;
            background-color: $background3;
            padding: 0.25rem;
            border-radius: 0.5rem;

            @include desktop {
                padding: 1.5rem;
            }
        }

        &-icon {
            height: fit-content;
            background-color: $background2;
            object-fit: contain;
            width: 100%;
            height: 100%;
        }

        &-row {
            @include display (row, space-between, nowrap);
            width: 100%;
            background-color: $background2;
            gap: 0.5rem;
            padding: 0.5rem 0;

            @include desktop {
                padding: 1rem 0;
                gap: 0.5rem;
            }

            &--container {
                border-top: 3px groove grey;
                margin: 0.5rem;
                padding: 0.5rem 0;
                @include display (row, space-between, nowrap);
                background-color: $background2;

                @include desktop {
                    @include display (row, center, nowrap);
                    gap: 1.5rem;
                }


            }
        }

        &-website {
            background-color: $background2;
            display: flex;
            justify-content: center;

            &--icon {
                background-color: $background2;
                width: 60%;

                @include tablet {
                    width: 65%;
                    padding: 0.5rem;
                }
            }
        }
    }

    &__video {
        width: 60%;
        background-color: $background2;
        padding: 1rem;

        &-mp4 {
            width: 60%;
            background-color: $background2;
            cursor: pointer;
            display: flex;
            padding-right: 1rem;
        }
    }
}

#share__button {
    width: 100%;
    height: 100%;
    background-color: $background2;
    min-height: 1.25rem;

    @include desktop {
        min-height: 2rem;
        max-width: 4rem;
    }
}