@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.news-desktop {
    width: 100%;
    @include display (column, flex-start, nowrap);
    background-image: linear-gradient(180deg, $secondary1 0%, $background1 85%);
    box-shadow: inset 0 -1rem 1rem 0 $background1;   
    padding: 0.125rem 0.5rem 0 0.5rem;
    min-height: 20rem;

    &__scan {
        width: 100%;
        padding-top: 0.5rem;
        background-color: $background2;
        @include display (row, space-around, nowrap);

        @include tablet {
            gap: 1rem;
            padding: 0.5rem 0;
        }


        &-share {
            @include display (column, center, nowrap);
            align-items: center;
            background-color: $background2;
            font-family: "Lovelo Black";
            text-decoration: none;
            border: none;
            cursor: pointer;
            width: 3rem;
            min-height: 1.5rem;
            min-width: 1.5rem;
            font-size: 0.5rem;

            @include tablet {
                font-size: 0.625rem;
                width: 4rem;
            }
        }

        &-qr {
            width: 35%;
            object-fit: contain;
            background-color: $background2;
            display: flex;
            align-items: center;
        }
    }

    &__social {
        max-width: 38rem;
        width: 100%;

        @include desktop {
            background-color: $background2;
            display: flex;
            align-items: center;
            padding: 3.5rem 0;
            min-height: 24rem;
            max-height: 33rem;
            height: 100%;
            // border-bottom: 1px groove grey;
        }


        &-column {
            @include display (column, center, nowrap);
            background-color: $background3;
            width: 75%;
            padding-left: 0.5rem;

            @include desktop {
                width: 100%;
            }

            &-website {
                background-color: $background2;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 25%;

                @include desktop {
                    width: 40%;
                }

                &--icon {
                    width: 100%;
                }
            }
        }

        &-container {
            max-width: 38rem;
            background-color: $background3;
            padding: 0.25rem;

            @include tablet {
                border-radius: 1rem;
                margin-bottom: 1rem;
            }

            @include desktop {
                padding: 1rem;
                margin: 4rem 0.5rem;
            }
        }

        &-icon {
            height: fit-content;
            background-color: $background2;
            object-fit: contain;
            width: 3rem;
            height: 100%;

            @include tablet {
                width: 4rem;
            }
        }

        &-row {
            @include display (row, space-between, nowrap);
            width: 100%;
            background-color: $background2;
            gap: 0.5rem;
            padding: 0.5rem 0;

            &--container {
                border-top: 3px groove grey;
                margin: 0.5rem;
                padding: 0.5rem 0;
                @include display (row, space-between, nowrap);
                background-color: $background2;

                @include desktop {
                    @include display (row, center, nowrap);
                }


            }
        }

        &-website {
            background-color: $background2;
            display: flex;
            justify-content: center;
            max-height: 8rem;

            @include tablet {
                max-height: 10rem;
            }


            &--icon {
                background-color: $background2;
                width: 100%;
                max-width: 4rem;

                @include tablet {
                    max-width: 5.5rem;
                }


                @include tablet {
                    padding: 0.5rem;
                }
            }
        }
    }

    &__video {
        width: 60%;
        background-color: $background2;
        padding: 1rem;

        &-mp4 {
            width: 60%;
            background-color: $background2;
            cursor: pointer;
            display: flex;
            padding-right: 1rem;
        }
    }
}

#share__button {
    width: 100%;
    height: 100%;
    background-color: $background2;
    min-height: 1.25rem;

    @include desktop {
        max-width: 2.5rem;
    }
}