@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.news {
    width: 100%;
    max-width: 600px;
    @include display(row, center, nowrap);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25rem;

    @include tablet {
        gap: 0.5rem;
    }

    &__container {
        padding-top: 0.5rem;
    }

    &__heading {
        padding: 0.25rem;
        border-top: 1.5px solid $primary1;
        border-radius: 3px 3px 0 0;
        cursor: pointer;
        font-family: "Lovelo Black";
        font-weight: 400;
        width: fit-content;
        margin-left: auto;

        @include desktop {
            cursor: default;
            border-top: none;
        }
    }

    &__image {
        width: calc((100% - 0.5rem) / 3);

        @include tablet {
            width: calc((100% - 1rem) / 3);
        }
    }

    &__loading {
        width: 100%;
        height: 100%;

        &-container {
            display: flex;
            justify-content: center;
        }
    }

    &__page-title {
        padding: 1.25rem;
        margin-bottom: 0.375rem;
        background-color: #FFFFFFB5;
        color: black;
        border-radius: 8px;
        border-top: 2px solid $primary1;
        border-bottom: 2px solid $primary1;
        box-shadow: inset 0 0 10px 5px #000000;
        cursor: pointer;
        font-family: "Inter bold";
        letter-spacing: -0.005rem;
    }

    &__pagination {
        @include display(row, flex-end, nowrap);
        padding: 0.25rem;
        margin-bottom: 1.5rem;

        &-button {
            padding: 0.5rem 0.825rem;
            border-radius: 0.5rem;
            margin-right: 0.5rem;
            background-color: #33333385;
            border-style: none;
            text-decoration: none;
            font-family: "Lovelo Black";
            font-size: 0.75rem;

            &.active {
                background-color: $primary1;
            }

            &:focus {
                background-color: $primary1;
            }

        }
    }
}
