/*============
    COLORS
=============*/

// PRIMARY
$primary1: #EF8E6D; // OTDNews Red

// SECONDARY
$secondary1: #5C667E; // Slate
$secondary2: #BDC5D5; // Cloud

// BACKGROUND
$background1: black; // OTD Black
$background2: transparent; // Transparent

/*================
    BREAKPOINTS
=================*/

$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;