/*============
    COLORS
=============*/

// PRIMARY
$primary1: #EF8E6D; // OTDNews Red

// SECONDARY
$secondary1: #A80101; // Breaking News Red

// BACKGROUND
$background1: #08090A; // OTD Black
$background2: transparent; // Transparent
$background3: black; // Black

/*================
    BREAKPOINTS
=================*/

$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;