@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.form {
    width: 100%;

    &__article {
        height: 100%;
        width: 100%;
        max-width: 38rem;
        min-height: 18rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @include tablet {
            min-height: 24rem;
        }
    }

    &__button {
        width: 100%;
        padding: 0.25rem;
        transition: transform 0.3s ease;
        cursor: pointer;
        background-color: black;
        color: white;

        &:active {
            background-color: rgb(239, 142, 109, 0.8);
            border: 1px solid grey;
            transform: scale(0.96);
        }
    }

    &__input {
        width: 100%;
        height: 10rem;
        resize: none;
        padding: 0.5rem;
        border-radius: 3px;
        scrollbar-color: black rgb(26, 25, 25);
        background-color: black;
        color: white;

        &:focus {
            outline: 1px solid $primary1;
            border-radius: 3px;
            box-shadow: 0 0 5px $primary1;
        }
    }
}

.generated {

    &__container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__create-new-button {
        width: 50%;
        margin-left: auto;
        cursor: pointer;
    }

    &__image,
    &__loading, &__news {
        width: 100%;
        max-width: 38rem;
    }

    &__logo {
        width: 100%;
        max-width: 8rem;
        padding-bottom: 0.25rem;

        @include tablet {
            max-width: 10rem;
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: start;
    }
}

#breaking-news__heading {
    text-align: right;
}