@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.gallery {
    width: 100%;
    max-width: 37.5rem;
    @include display (row, center, nowrap);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.125rem;

    @include tablet {
        gap: 0.25rem;
        max-width: 100%;
    }

    @include desktop {
        justify-content: space-between;
        height: 100%;
        max-height: 10rem;
    }

    &__container {
        min-height: 34rem;
        display: flex;
        justify-content: space-evenly;

        @include tablet {
            padding: 0;
        }

        @include desktop {
            height: 100%;
            max-height: 10rem;
        }
    } 

    &__heading {
        padding: 0.25rem 1rem;
        border: 8px double transparent;
        border-bottom-color: $primary1;
        cursor: pointer;
        font-family: "Lovelo Black";
        font-weight: 400;

        @include tablet {
            cursor: default;
            border-top: none;
            font-size: 1rem;
            padding: 0.25rem;
            width: 39.5%;
        }

        @include desktop {
            padding: 0 1rem;
        }

        &-container {
            @include display (row, space-between, nowrap);

            @include tablet {
                padding: 0;
            }
        }

        &--breaking-news{
            border: 3px double transparent;
            border-bottom: 3px double black !important;
            background-color: $secondary1 !important;
        }

        &--inactive {
            color: rgba(255, 255, 255, 0.34);
            padding: 0.25rem 1rem;
            cursor: pointer;
            font-family: "Lovelo Black";
            font-weight: 800;
            border: 3px double transparent;

            &:hover {
                color: rgb(200, 200, 200);
            }
        }
    }

    &__image {
        max-width: 100%;
        object-fit: contain;
    }

    &__link {
        width: calc((100% - 0.25rem) / 3);
        border-radius: 1px;
        cursor: pointer;
        display: flex;
        align-items: center;

        // @include tablet {
        //     width: calc((100% - 1rem) / 3);
        // }

        @include tablet {
            flex: 1 1 calc(16.66%);
        }
    }

    &__news {
        max-width: 38rem;
        width: 100%;

        @include tablet {
            max-width: 75rem;
            padding: 2rem;
        }

        @include desktop {
            padding: 0;
            height: 100%;
            max-height: 12rem;
            max-width: 75rem;
        }
    }

    &__view-more {
        width: 15rem;
        font-family: "Lovelo";
        font-size: 1.25rem;
        cursor: pointer;
        border: 3px double darkslategray;

        &:hover {
            border-top-color: $primary1;
            border-right-color: $primary1;
        }
    }
}